@font-face {
    font-family: "MS Gothic";
    src: url("fonts/MS Gothic.tff") format("tff");
    font-weight: normal;
    font-size: normal;
    font-display: swap;
}

:root {
    --color-1: #5a5a5a;
    --color-2: #71baff;
    --color-3: #d3d3d3;
}

/*========== GLOBAL ==========*/

body {
    overflow: hidden;
}

.flex {
    display: flex;
}

@media (max-width: 780px) {

    /* SM SCREEN */
    #main-content {
        display: flex;
        flex-direction: column;

        max-width: 330px;
        min-height: 95vh;

        position: relative;
        z-index: 2;
    }

    #background {
        position: absolute;
        z-index: -1;
        margin: auto;
        width: 100%;
        min-height: 80vh;

        background: url("../images/gate3.png") no-repeat center;
        background-size: 460px 95vh;
        mask-image: radial-gradient(black 20%, transparent 60%, transparent);
        opacity: 30%;
    }

    p,
    h3 {
        margin: 0px;
        font-size: 1rem;
        color: var(--color-1);
    }

    h1 {
        font-size: 1.2rem;
        color: var(--color-1);
    }

    h2 {
        font-size: 1.2rem;
        color: var(--color-1);
    }

}


@media (min-width: 780px) {

    /* LG SCREEN */
    #main-content {
        display: flex;
        flex-direction: column;

        margin: auto;
        width: 800px;
        min-height: 95vh;

        position: relative;
        z-index: 2;
    }

    #background {
        position: absolute;
        z-index: -1;
        margin: auto;
        width: 100%;
        min-height: 95vh;

        background: url("../images/gate3.png") no-repeat center;
        background-size: 660px 1000px;
        mask-image: radial-gradient(black 30%, transparent 70%, transparent);
        opacity: 30%;
    }

    p,
    h3 {
        margin: 0px;
        font-size: 1.5rem;
        color: var(--color-1);
    }

    h1 {
        font-size: 1.7rem;
        color: var(--color-1);
    }

    h2 {
        font-size: 1.7rem;
        color: var(--color-1);
    }
}



p,
h1,
h2,
h3,
a {
    font-family: "MS Gothic", monospace;
}



/*---------- boxes ----------*/

.box-mask {
    mask-image: linear-gradient(to right, transparent, black 30px, black 90%, transparent);
    width: fit-content;
}

.box {
    background-color: var(--color-3);
    padding: 0.1em 2.5em;
}

.box-title {
    background-color: var(--color-3);
    padding: 0.2em 1.5em;
    margin-bottom: auto;
    border-radius: 0px 100px 0px 0px;
    width: fit-content;
    color: white;
}

.box-inner {
    margin: 0.5em 0em;
    background-color: white;
    padding: 0.5em;
    border-radius: 5px;
}

/*========== HEADER ==========*/



header .box {
    background-color: var(--color-3);
}

@media (max-width: 780px) {
    nav {
        width: 1fr;
        display: flex;
    }

}

@media (min-width: 780px) {
    header {
        width: 800px;
    }

    nav {
        width: 100%;
        margin: auto;
        display: flex;
    }

}

nav a {
    margin: 0px 5px;
    flex: 1 1 0;
    height: 30px;
    background-color: var(--color-3);
    border-radius: 5px;
    border: 2px solid var(--color-3);

    text-decoration: none;
    font-family: "MS Gothic", monospace;
    text-align: center;
    align-content: center;

    font-size: 20px;
    color: var(--color-1);
}

nav a.current-page {
    background: none;
    pointer-events: none;
    color: var(--color-3);
    border: 2px dotted var(--color-3);
}

/*========== MAIN ==========*/

@media (max-width: 780px) {
    #home-updates .box-inner {
        height: 200px;
        overflow-y: auto;
    }

    main section {
        margin: 0px;
    }

    #home-intro {
        width: 0.5fr;
    }

    #home-updates {
        width: 0.5fr;
    }

    .update-divider {
        text-align: center;
        color: var(--color-3);
        font-size: 10px;
    }
}

@media (min-width: 780px) {
    #home-updates .box-inner {
        height: 50vh;
        overflow-y: auto;
    }

    main section {
        margin: 0px;
    }

    #home-intro {
        width: 1fr;
    }

    #home-updates {
        width: 1fr;
    }

    .update-divider {
        text-align: center;
        color: var(--color-3);
    }

    #error-return-button {
        width: 90%;
        align-self: center;
        justify-self: center;
    }
}



.update-report {
    border: var(--color-3) dotted;
    margin: 10px 0px;
    padding: 5px 10px;
}

#error {
    text-align: center;
    margin: 0 1em;
    width: 80%;
    flex: 1;
    align-self: center;
}




/*========== FOOTER ==========*/